body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding box shadow */
  width: 350px;
  padding: 20px;
  transition: box-shadow 0.3s ease; /* Adding transition effect to box shadow */
}

#box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increasing box shadow on hover */
}

#box1 {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #d80f0f; /* Use bottom border for input effect */
  background: transparent; /*Transparent background */
  margin-bottom: 10px; /* Add margin bottom for spacing */
  font-size: 15px;
}

.input:focus {
  outline: none;
  border-color: #1c1e1f; /* Change border color on focus according to your need */
  background-color: #c0c0c0;
  color: white;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

.checkbox-container {
  margin-top: 10px;
  margin-bottom: 15px;
}

.checkbox-container label {
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.signup-button,
.signin-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover,
.signin-button:hover {
  background-color: #0056b3;
}

h1 {
  background: linear-gradient(to right, #4caf50, #007bff); /* Gradient background for h1 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Transparent text */
  transition: background 0.3s ease; /* Adding transition effect to background */
}

h1:hover {
  background: linear-gradient(to right, #45a049, #0056b3); /* Gradient hover effect for h1 */
  -webkit-text-fill-color: white; /* Fallback text color */
}
